@{
    ViewData["Title"] = "Home Page";
}

<table class="table" id="tblUsuario">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Uchiha Madara</td>
        </tr>
    </tbody>
</table>



@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Dashboard.js" asp-append-version="true"></script>
}